# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.MyCSharpLearnPath.iml
# Datasource local storage ignored files
/../../../../../../:\ProjektyC#\MyCSharpLearnPath\.idea\.idea.MyCSharpLearnPath\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
